@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 3px 2px;
  font: 300 13px @brand-font;
}
.btn {
  font-family: @brand-font;
}
H1{
  font-size: 23px;
}
H3 {
  margin: -2px 0 12px  0px;
  font-size: 21px;
}
H4 {
  margin: 9px 0 4px  0px;
  color: @brand-primary;
}
H5 {
  font-weight: bold;
  font-size: 12px; text-align: center;
}
.classic a{
  text-decoration: underline;
}
.black {
  color: @bg-black;
  a{
    color: @bg-black;
  }
}
.red {
  color: @bg-red;
}

.invalid {
  color: @invalid-color;
}
.valid {
  color: @valid-color;
}

.white {
  color: @white-color;
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

input{
  height: 27px;
}

.in-checkbox {
   height: 12px;
}


body {
/*    background: url(../images/bg-main.jpg) repeat ;*/
  background-color: @grey-easy-color;
  border-top: 3px solid #7e7e7e;
  .heading {
    background: @white-color;
    height: 51px;
    .form-search {
      padding: 10px 0px;
      width: 200px;
    }
  }
  header {
    height: @head-h;
    padding: 0 0;
    background: @white-color;
    .container {
      .head4new {
        float: right;
        height: 114px; width: 280px;
        color: #fff;
        span {
          float: left;
          padding-top: 2px;
          margin: 6px 0px 0 0;
          background: #58ADEC;
          background: @btn-primary-bg; width: 175px; height: 25px;
          font-size: 14px; color: @white-color; text-align: center;
        }
        p {
          font-size: 29px; color: @bg-red; text-align: right;
          line-height:  33px; letter-spacing: 2px;
        }
      }
      .head5new {
        .form-control {
          height: 26px;
          margin-top: 7px;
          float: right;
          box-shadow: none;
          border-radius: 3px;
        }
      }
      .head3new {
        height: 30px;
        p {
          font-size: 12px; text-align: right;
        }
        a {
          text-decoration: underline;
        }
      }
      .head2 {
        width: 420px;
        float: right;
        margin: -263px 0 0 0;
        a {
          color: @jumbotron-color;
        }
      }
    }
  }

  .navbar {
    background-color: @bg-red;
    border: none;

    font-size: 14px;
    letter-spacing: 0.1em;
    min-height:35px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.65);
    z-index: 99;
    margin-bottom: 0;
    select {
      margin-top: 6px;
      background-color: @bg-red;
      border: none;
      color:@navbar-default-link-color;
      font-size: 13px;
      option {
        height:31px;
        padding: 4px;
      }
    }
    .btn {
      font-size: 14px;
    }
    .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
      color: @navbar-default-link-color;
      background-color: @bg-red;
      border-color: @bg-red;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
      color:@navbar-default-link-hover-color;
    }
    .navbar-nav {
      p{
        padding: 7px 20px;
        font: 300 13px ;
        color: @navbar-default-link-color;
        a {
          color: @navbar-default-link-color;
      }
      }
      a:focus {
        outline:solid 0px red;
      }
      li {
        height:34px;
      }
      ._Pmml {background: #E4537F; div {color: #E9E4ED; }}
      li:hover {background: #E4537F; div {color: #E0E0EC;}}
    }
  }

  .wrapper {
    box-shadow: 1px 1px 1px #efefef;
    border: 1px solid #ddd;
    z-index: 95;
    background: @white-color;
    margin-top: 18px;
    aside{
      padding-top: 5px;
      margin-bottom: 25px;
      box-shadow: 1px 1px 1px #efefef;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      z-index: 95;
    }
    section{
  /*        select {
    margin-top: 6px;
    background-color: @bg-red;
    border: none;
    color:@navbar-default-link-color;
    font-size: 13px;
    option {
      height:31px;
      padding: 4px;
    }
  }
  .btn {
    font-size: 14px;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: @navbar-default-link-color;
    background-color: @bg-red;
    border-color: @bg-red;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color:@navbar-default-link-hover-color;
  }*/
      .btn-call{
        margin: 20px 0 0 20px;
        float: left;
        padding-top: 5px;
        background: @btn-primary; width: 135px; height: 28px;
        font-size: 14px; color: @white-color; text-align: center;
        cursor: pointer;
      }
    }
    .list {
        padding: 0 10px;
    }

    .menu-l {
      .panel0, .panel1, .panel2, .panel3, .panel4, .panel5 {
        padding: 15px 0 15px 0;
      }
      .panel0, .panel3, .panel5, .panel6 {
        margin: 0;
        font: 300 12px @brand-font;
        font-size: 12px;
        text-transform: uppercase;
        li {
            list-style-position: inside;
            list-style-type: square;
            text-transform: uppercase;
            border: none;
            padding: 9px 14px;
            a {
              color: @text-color;
              text-decoration: none;
              &.active, &:hover, &:focus {
                 color: @bg-red;
              }
            }
            a:focus {
              outline:solid 0px red;
            }
        }
      }

      .panel5 {
        li {
          padding: 9px 0px;
          a {border: none;padding-left: 0px; }
          ._Plmd{color:#54544C; border-left:6px solid transparent; padding:0 0 0 18px; border-right:2px solid transparent; margin:0 -1px 0 0;}
          ._Plmd:hover, a:focus ._Plmd {color:@bg-red; border-left:7px solid #29c5e6;}
          ._Plma ._Plmd{color:@bg-red; border-left:6px solid #29c5e6;}
          ._Plma ._Plmd:hover{color:#E52566}
        }
      }

  /*                .panel3 {
              margin: 8px;
              padding: 0px;
              border: 2px solid @thumbnail-border;
              border-radius: @thumbnail-border-radius;
              border-color: @white-color;
              .panel-heading {
                  padding: 6px;
                  color: @bg-red;
              }
              .panel-body {
                  padding: 0;
                  li {
                      padding: 6px;
                      a {
                        color: #7A7A73;
                      }
                      &.active, &:hover {
                          background: @brand-primary;
                          a {
                              color: @white-color;
                          }

                      }
                  }

              }
          }*/
      .panel1 {
        box-shadow: none;
        .panel-heading {
          font: 14px @brand-font;
          text-transform: uppercase;
          padding: 10px 10px;
        }
        .panel-body {
          padding: 10px 10px;
        }
      }

      .panel2 {
        box-shadow: none;
        padding: 20px 12px 20px 12px;
        .panel-heading {
          font: 14px @brand-font;
          text-transform: uppercase;
          padding: 10px 10px;
        }
        .panel-body {
          background: @grey-easy-color;
          color: @black-color;

          text-align: center;
          padding: 15px 12px;
          .phone {
            width: 90%;
          }
          p {
            margin: 5px 0 8px 0;
          }
          button {
            background: @btn-primary;
            color: @white-color;
            margin: 5px 0 0 0;
            border:0;
            border-radius : 0;
            padding: 5px 12px;
            font-size: 13px;
          }
        }

      }
    }

    .thumbnail {
      //box-shadow: 2px 2px 10px #efefef;
      //box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      //box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
      border: 0;
      margin: 0px 0px 20px 0px;
      img {
        width: 250px;
      }
      .caption {
        h4 {
          height: 36px;
        }
        padding: 0px 8px 10px 8px;
        .about {
          height: 112px;
        }
        .text-view {
          font-size: 11px;
          color: @text-color;
        }
      }
      background: url(../images/coner_03.png) no-repeat 100% 100%;
      background: @white-color;

      .contact {
        height: 112px;
        margin: 0px -9px 0px -9px;
        background: #77D4F8;
        color: @black-color;
        padding: 2px 8px;
        .c-title{
          font-size: 14px;
          color: @white-color;
        }
      }
    }

    .detail {
      border-radius: 0;
      margin: 20px 0 0 0;
      .autor-info{
        margin: 0 0 10px 0;

        .sec-1 {
          height: 180px;
        }
        .contact-h, .contact-f {
          background: #77D4F8;
          color: @black-color;
          padding: 5px 10px;
          .c-title{
            font-size: 14px;
            color: @white-color;
          }
        }
        .contact-h {
          height: 100px;
        }
      }
      img {
        float: right;
        width: 150px; height: 150px;
      }

      .menu-r1, .menu-r2 {
        height: 280px;
        background: @bg-menu-l;
        padding: 0 10px 0 10px;

        li {
          border: none;
          font: 300 13px @brand-font;
          color: @grey-color;
          list-style-type: square;
          padding: 2px;

        }
      }

      .menu-r1 {
        height: 280px;
      }

      .menu-r2 {
        height: 100px;
      }
    }

    .main-page {
      margin: 16px 0 16px 0;
      font-size: 14px;
      text-transform: uppercase;
      a {
        max-width: 258px;
        text-decoration: underline;
        margin: 0px;
        padding: 5px;
        text-align: center;
        img{
          background: url('../images/menu/mainicons.png') no-repeat;
          margin-bottom: 2px;
        }
      }
    }

    .breadcrumbs {
      margin: 8px 0 4px 0;
      font-size: 13px;
      text-transform: uppercase;
      a {
        max-width: 258px;
        text-decoration: underline;
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
    }

    .about-d, .photo-d, .video-d, article-d {
      span{
        text-transform:uppercase
      }
      margin: 2px 8px 10px 0px;
      font-size: 14px;
      p {
        font-size: 14px; color: @grey-color;
        line-height: 23px;
      }
      a {
        text-decoration: underline;
      }
      .classic {
        text-decoration: none;
      }
    }

    .about-d {
      color: @brand-primary;
    }

    .photo-d, .video-d {
      color: @bg-red;
      a {
        margin: 0px 0px;
        float: right;
        font-size: 13px;
        text-decoration: underline;
      }
      img {
        padding: 10px 0px;
      }
    }

    .photo-d {
      img {
        cursor: url(/images/graphics/zoomin.cur), pointer;
      }
    }

    .article-d {
      p {
        font-size: 14px; color: @grey-color;
        line-height: 28px;
      }
    }

    .jumbotron {
      border-radius: 0;
      margin: 10px 10px 10px 10px;
      padding: 0px 0px;
      blockquote {
        border-left: none;
        padding: 7px 20px;
        margin: 0px 0 4px 0 ;
        p {
          font: 300 italic 11px @brand-font;
          line-height: 24px;  letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        small {
          margin: 4px 0 0 0;
          text-align: right;
          color: #1D8EA6;
          font: 300 11px @brand-font;

          &:before {
            content: '';
          }
        }
      }
    }
  }

  footer {
    margin: 10px 0 15px 0;
    background: @grey-easy-color;
    a {
      color: @text-color;
      text-decoration: none;
      &.active, &:hover {
        color: @bg-red;
      }
    }
  }
}

.sort {
  width: 80px;
}

.m-photo2 {
  padding: 0px;
}

.m-center {
  margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.right {
  margin-left: auto;
  text-align: right;
}

.m-000 {
  margin: 0 0 0 0;
}

.m-20 {
  margin: 20px 0 4px 10px;
}

.m-10 {
  margin: 10px 0 0px 10px;
}

.m-4 {
  padding: 0px;
  margin: 0 -4px 0 -4px;
  div {
    padding: 4px;
  }
  img {
    padding: 0;
    width: 100%;
  }
}

.p-0 {
  padding: 0 0 0 0;
}
.p-0x5 {
  padding: 0 0 5px 0;
}

.p-10 {
  padding: 0 10px;
}

.glyphicon-star {
  color:#FFCC33;
  color:#FBED21;
  color:#FFE123;
  background: url(../images/star1.jpg) no-repeat 0 0;
}

.c-left {
  width: 17px; height: 20px;
}

.c-right {
  float: right;
}

.modal-footer {
  margin: 0;
}

.test1{
  width: 25px; height: 25px;
  margin: 15px 0 0 0;
}

.modal-table{
  width:100%;
}

#float1, #float2{
  display:none;
}

@media screen and (min-width:1200px){
  #float1 {
    display:block;
  }
}

@media screen and (min-width:992px){
  /*  больше 992*/
  #mainBanner1 {
    display:none;
  }
}

@media screen and (max-width:991px){
  /*  больше 991*/
  #mainBanner2 {
    display:none;
  }
}

@media screen and (min-width:768px){
  aside {
    left: 0px;
    top: 0px;
  }
  .navbar-nav {
/*    li {
      div {color:@navbar-default-link-color; height:34px; padding:8px 0 0 0;}
      ._Pmmd:hover, a:focus div{color:#000011; }

      ._Pmma div {color:@navbar-default-link-active-bg;}
      ._Pmma div:hover{color:#c1e8f0}
    }
    */
/*    li { height:34px; padding:8px 0 0 0; }
    ._Pmml {background: #E4537F; div {color: #E9E4ED; }}
    li:hover {background: #E4537F; div {color: #E4ECED; }}*/

  }
/*  .navbar-nav {
    li {
      div {color:@navbar-default-link-color; height:34px; padding:8px 0 0 0; }
      ._Pmma div:hover{color:#c1e8f0}
      ._Pmma {background: #E4537F; div {color: #EADEDE; } }
    }
    li:hover {background: #E4537F; div {color: #EADEDE; }}
  }*/
  .panel6
    li {
      padding: 5px 0 0 8px;
      height: 50px;
      a {
        span{
          width: 40px; height: 40px;
          background: url('../images/menu/icons2.png') no-repeat;
        }
        div{
          padding: 12px 0 0 47px;
        }
      }
      ._Plmd{color:#54544C; margin:0 0 0 0;}
      a:hover ._Plmd, a:focus ._Plmd {color:@bg-red; padding-left: 48px;}

      ._Plma ._Plmd{color:@bg-red; padding-left: 47px; font-weight: bold;}
      ._Plma ._Plmd:hover{color:#E52566}
    }

}

@media screen and (max-width:767px){
  aside {
    left: 0px;
    top: 0px;
  }

/*  .navbar-nav {
    li { height:34px; padding:8px 0 0 0; }
    ._Pmml {background: #E4537F; div {color: #E9E4ED; }}
    li:hover {background: #E4537F; div {color: #E4ECED; }}

    li {
      ._Pmmd:hover, a:focus ._Pmmd{color:@navbar-default-link-hover-color; }

      ._Pmma ._Pmmd {color:@navbar-default-link-active-bg;}
      ._Pmma ._Pmmd:hover{color:#c1e8f0}
    }
  }*/
  .panel6 {
    display:none;
  }
  .panel6_2 div{
    width: 42px; height: 40px;
    background: url('../images/menu/icons.png') no-repeat;
    cursor: pointer;
  }
}


@media screen and (min-width:660px){
  #float2 {
    display:block;
  }
/*  #mainBanner {
    display:block;
    margin-top: 15px;
  }*/
}

@media screen and (max-width:659px){
/*  меньше 659*/
  #mainBanner1 {
    display:none;
  }
}

@media screen and (max-width:440px){
  #floatdiv3 {
/*        width: 350px;*/
/*    .head4 {
      width: 340px;
      p {
        font-size: 32px;
      }
  }*/
  }
  #avatar-text {
    width:100%
  }
  #avatar {
    display: none;
  }
  .col-my-24 {
    width:100%
  }
}



.to-top {
  z-index: 100;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  .image {
    width: 27px;
    height: 27px;
    bottom: 0;
    position: absolute;
    background: #76BFF5 url(/images/graphics/goUp.png) no-repeat;
  }
  .text {
    color: #fff;
    font-family: tahoma, verdana, arial;
    font-size: 12px;

    filter: Shadow(Color=black, Direction=130, Strength=1);
    position: absolute;
    line-height: 25px;
    text-align: center;
    left: 28px;
    bottom: 0;
    width: 63px;
    height: 27px;
    background: #58adec;
    opacity: 10;
  }
}
