@brand-font: 'Cuprum',sans-serif;
/*серый фон страницы*/
@body-bg: #f8f8f8;
/*специфический голубой цвет данного дизайна*/
@brand-primary: #29c5e6;
/*специфический серый цвет данного дизайна*/
@bg-menu-l: #E5E5E5;
/*специфический красный цвет данного дизайна*/
@bg-red: #e22566;
/*специфический валидный цвет данного дизайна*/
@invalid-color: #D64D7C;
@valid-color: #2991A7;
/*специфический черный цвет данного дизайна*/
@bg-black: #1a1a1a;
/*фон панелей */
@panel-bg: f3f3f3;
/*цвет рамки панелей*/
@panel-inner-border: #e7e7e7;
/*убираем скругление у блоков*/
@border-radius-base: 0;
/*первичные кнопки имеют голубой фон*/
@btn-primary-bg: #58adec; //@brand-primary;
@btn-primary: @btn-primary-bg; //@brand-primary;
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
@container-md: 960px;
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
@container-lg: 1190px;
/*основным шрифтом будет Tahoma*/
@font-family-base: Tahoma, sans-serif;
/*задаем базовый размер*/
@font-size-base: 13px;
/*основной цвет текста на странице*/
@text-color: #8f8f8f;
/*затемненный цвет текста на странице*/
@grey-color: #7e7e7e;
@grey-easy-color: #ececec;
@black-color: #111;
@white-color: #fff;
/*не такой резкий черный цвет кнопки*/
@btn-default-color: #999;
/*серый фон текстовых полей*/
@input-bg: @panel-bg;
/*серая рамка текстовых полей*/
@input-border: @panel-inner-border;
/*серый цвет текста в полях*/
@input-color: #b2b2b2;

@grid-columns: 24;

@main-w: 100%;
@head-h: 24%;

/*высота навигационного меню*/
@navbar-height: 35px;
/*задаем  побольше горизонтальный отступ*/
@nav-link-padding: 2px 20px;

/*фон для пунктов меню*/
@navbar-default-bg: #121212;
/*цвет текста в пунктах меню*/
/*@navbar-default-link-color: #c4c4c4;*/
@navbar-default-link-color: #fcfcfc;
/*и при наведении мышки – такой же*/
/*@navbar-default-link-hover-color: @brand-primary;*/
@navbar-default-link-hover-color: #eaeaea;
/*фон активного пункта меню – наш специфический голубой цвет*/
/*@navbar-default-link-active-bg: @brand-primary;*/
@navbar-default-link-active-bg: #85d9f3;

/*цвет текста активного пункта меню*/
@navbar-default-link-active-color: #fff;

/*сайдбар*/
@list-group-bg: @panel-bg;
@list-group-border: @panel-inner-border;

@panel-primary-border: @panel-inner-border;

/*контекст*/
@jumbotron-bg: @brand-primary;
@jumbotron-color: #fff;